{% extends "layout.html" %}

{% block title %}Register{% endblock %}
{% block content %}
<div class="form-container">
  <h2>Hello, friend!</h2>
  <form method="post">
    <input type="text" name="username" placeholder="Name" required>
    <input type="email" name="email" placeholder="E-mail" required>
    <input type="password" name="password" placeholder="Password" required>
    <label style="font-size: 12px;">
      <input type="checkbox" required> I agree to know that this looks amazing<a href="#">Terms</a>
    </label>
    <button type="submit">CREATE ACCOUNT</button>
    <a href="/login">Already have an account? Sign in</a>
  </form>
</div>
<div class="side-panel">
  <h2>Glad to see You!</h2>
  <p>Welcome to my CS50.</p>
</div>
{% endblock %}
